/* Contact Form */

.form__container{
 padding: 0;
 @media only screen and (max-width:999px){
  flex-direction: column-reverse;
  width:90%;
  margin:0 auto;
 }
}

.form__fields{
 background:var(--vanilla-brown);

 form{
  padding:40px 40px 20px 40px;

  @media only screen and (max-width:800px){
   padding:40px 15px 20px 15px;
  }
 }

 .form__two-col{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items: center;

  @media only screen and (max-width:1200px){
   flex-direction: column;
  }
 }

 label{
  font-size: clamp(24px, 4vw, 31px);
  color:var(--white);
  display:block;
  font-family: $serif;
  font-weight:600;
 }

 input, textarea, select, option{
  font-size: clamp(16px, 4vw, 18px);
  color:var(--black);
  width:100%;
  padding:12px 16px;
  border-radius: 10px;
  border: 1px solid #707070;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

   &:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 2px transparent, 0 0 0 2px var(--accent);
   }
 }

textarea{
  @media only screen and (max-width:1200px){
   height:170px;
  }
}

 option{
  padding:6px 0;
 }

 optgroup{
  font-size: clamp(18px, 4vw, 20px);
 }

 /* Select */

.form-input__name, .form-input__inquiry{
 width:48%;
 
 @media only screen and (max-width:1200px){
  width:100%;
 }
}

.form-input__email, .form-input__message{
 width:100%;
}


.custom-select{
  position:relative;
}

.custom-arrow{
  position:absolute;
  top:0;
  right:0;
  display:block;
  background:var(--tertiary);
  height: 100%;
  width:4rem;
  pointer-events:none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-arrow::after{
  --size:0.7rem;
  
  content:'';
  position:absolute;
  width:0;
  height:0;
  left:50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::after{
  border-top: var(--size) solid var(--dark);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  top:50%;
}
 
}


.form__design{
 background: var(--primary);
 position:relative;
 display:flex;
 justify-content:space-between;
 align-items: center;
 flex-direction: column;
 overflow:hidden;

 @media only screen and (max-width:999px){
  flex-direction:row;
   height:160px;
 }

 .form__design-img{
  display:flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin:60px 0 20px -48px;

  @media only screen and (max-width:999px){
   margin: 0 0 0 0;
   justify-content: flex-start;

   img{
    width:65%;
    transform:rotate(9deg);
    margin-top:22%;
   }
  }

  @media only screen and (max-width:999px){
   img{
    margin-top:7%;
   }
  }
  
 }

  img{
  width:100%;
  height:auto;
  

 }

 .form__design-mountain{
  width:max-content;
  align-self: flex-end;

  @media only screen and (max-width:999px){
   width:32% !important;
  }
 }
}

.help-warning{
 strong{
  font-size:18px;
 }
 p{
  display:inline;
  font-size:16px;
  font-weight:normal !important;
 }
}


/* Added contact form */
.contact-form__wrapper{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  @media only screen and (max-width:768px){
   border-top-right-radius: 0;
   border-bottom-left-radius: 20px;
  }
}