%btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 500px; 
}


%expand-width {
  width:100%;
}